<h2>Projects</h2>

<select (change)="onChange($event.target.value)">
  <option value="allProjects" selected="selected">All Projects</option>
  <option value="cheap">Cheap</option>
  <option value="medium">Medium</option>
  <option value="expensive">Expensive</option>
</select>

<div *ngFor="let project of projects | async | fundGoal:filterByGoal" (click)="goToDetailPage(project)" class="card">
  <div class="card-block">
    <h4 class="card-title">{{project.name}}
      <button (click)="deleteProject(project)" class="btn btn-danger deleteProjectButton">X</button>
    </h4>
    <h6 class="card-subtitle mb-2 text-muted">{{project.manager}}
    </h6>
    <span class="fundsRaisedDisplay">${{project.fundsRaised}}/{{project.fundsGoal}}
    </span>
  </div>

</div>
